# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore folders
dev/
0013_mode_content_files/
0013_mode_content_files_2/
0305/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore virtual environments
venv/
.env/

# Ignore output files
outputs/
*.log
*.tmp